.courses-main-outer {
    width: 100%;
    height: auto;
}

.courses-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-top: 80px;
    background-color: rgb(2, 104, 199);
    color: white;
    background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgba(6, 121, 229, 0.84) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.words-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-inner {
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.word-inner1 {
    width: 350px;
    height: auto;
    padding: 15px 0;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word-label {
    width: auto;
    position: absolute;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0;
    background-color: #002f5d;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px;
    font-size: 18px;
}

.cc {
    width: auto;
    height: auto;
    min-height: 200px;
    background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgba(6, 121, 229, 0.84) 100%);
    padding: 15px 25px;
    margin-top: 80px;
    height: auto;
}

.c-board {
    width: 100%;
    height: auto;
    padding: 5rem;
    background-image: url("../../Assets/Images/item_bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 80px;
    display: none;
}

.visible {
    display: none !important;
}

.bg {
    position: absolute;
    background-color: #3131316a;
    inset: 0;
}

.courses-main-inner {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.cmi {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Full height */
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 12px;
    transition: 0.3s;
}

.c-thumb-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
    margin-top: 2rem;
    left: 30px;
    display: flex;
    justify-content: center;
}

.space1 {
    height: 20px;
}

.c-inner {
    width: 100%;
    height: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.c-inner1 {
    width: 90%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.c-in {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.c-in1 {
    width: 60%;
    height: auto;
}

.c-thumb {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.c-title {
    padding-top: 25px;
    font-size: 40px;
    font-family: publicsans, sans-serif;
    color: white;
}

.c-desc {
    padding-top: 20px;
    font-size: 18px;
    padding-right: 10px;
    text-align: justify;
    color: rgb(225, 224, 224);
}

.c-items-outer {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.c-label {
    font-size: 12px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    background-color: #0c0c0c;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: publicsans, sans-serif;
}

.c-label1 {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: #3a9b14;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: publicsans, sans-serif;
    cursor: pointer;
}

.c-section-count {
    font-size: 14px;
    font-family: publicsans, sans-serif;
    color: rgb(239, 235, 235);
}

.c-price {
    font-size: 30px;
}

.buy-course-button {
    position: fixed;
    top: 120px;
    right: 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.buy-course-button:hover {
    background-color: #115293;
}

.tl-outer {
    width: auto;
    padding: 10px 18px;
    height: auto;
    position: fixed;
    background-color: #030b4a;
    color: white;
    bottom: 50px;
    right: 50px;
    z-index: 900;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.tl-outer1 {
    width: auto;
    padding: 10px 18px;
    height: auto;
    position: fixed;
    background-color: #030b4a;
    color: white;
    right: 0;
    top: 150px;
    z-index: 900;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 1025px) {

    .c-inner1 {
        display: block;
    }

    .c-in {
        display: none;
    }

    .visible {
        display: flex !important;
        width: 100%;
        height: auto;
    }

    .c-in1 {
        width: 100%;
    }
}

@media (max-width: 769px) {
    .ci {
        display: block !important;
    }

    .c-thumb-wrapper {
        left: 0;
    }

}