* {
    font-family: 'Abhaya Libre', serif;
    /*border: 1px solid red;*/
}

.homepage {
    width: 100%;
    height: auto;
    background-color: #d0d0d01e;
}

.space{
    height: 15px;
}

.main-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.main-inner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.main-img {
    width: 0%;
    background-image: url("../../Assets/Images/students.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-img2 {
    width: 100%;
    background-image: url("../../Assets/Images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bg-overlay {
    position: absolute;
    background-color: #0e485c28;
    inset: 0;
}

.main-sub-inner {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.main-content-title {
    font-size: 80px;
    font-weight: bold;
    color: #3b82f6;
}

.main-content-desc {
    font-size: 18px;
    margin-top: 15px;
}

.slide-text {
    font-size: 20px;
    font-weight: 600;
    color: #fdfdfd;
    opacity: 0;
    transform: translateX(-100%);
}

.slide-text.animate {
    animation: slideLeftToRight 3s ease-in-out;
}

.anime-outer {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.anime-inner {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #3b82f6;
    border-radius: 10px;
}

.anime-logo {
    width: 30px;
    margin-right: 15px;
}

.typing {
    font-weight: bold;
    color: #3b82f6;
    white-space: nowrap;
    overflow: hidden;
}

.cursor {
    display: inline-block;
    width: 1px;
    background-color: #1f2937;
    margin-left: 2px;
    animation: blink 1s infinite;
}

.top-courses-outer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.top-courses-outer1 {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.top-courses-outer2 {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.top-courses-outer3 {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.top-courses-outer4 {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.top-courses-title {
    font-size: 30px;
    font-weight: bold;
    color: #575757;
}

.top-course-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Full height */
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 12px;
    transition: 0.3s;
}

.book-card {
    width: 250px;
    height: 100%;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 12px;
    transition: 0.3s;
}

.book-thumbnail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book{
    width: 100%;
    height: 320px;
}

.modal-content {
    background: #fff;
    padding: 30px;
    max-width: 800px;
    width: 90%;
    border-radius: 12px;
    position: relative;
    display: flex;
    gap: 20px;
    animation: fadeInScale 0.3s ease;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .modal-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .modal-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modal-desc {
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
  }
  
  .modal-price {
    font-size: 20px;
    font-weight: bold;
    color: #1a73e8;
    margin-top: 15px;
  }
  
  .purchase-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .purchase-btn:hover {
    background-color: #155ab6;
  }
  
  @media (max-width: 768px) {
    .modal-content {
      flex-direction: column;
      align-items: center;
    }
  
    .modal-image {
      max-width: 100%;
    }
  
    .modal-details {
      text-align: center;
      align-items: center;
    }
  }  

.category-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background: #d1cece1f;
    border: 1px solid #4d0303;
    padding: 12px;
    transition: 0.3s;
}

.category-card:hover {
    background-color: #a51d1d;
    color: rgb(255, 255, 255) !important;
}

.instructor-card{
    width: 60%;
    display: flex;
    justify-content: center;
    height: auto;
    background: #fff;
    border: 1px solid #e5e7eb;
    padding: 12px;
    transition: 0.3s;
    border-radius: 10px;
}

.course-thumbnail {
    width: 100%;
    height: auto;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.382);
}

.course-thumbnail6 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    position: relative;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.382);
}

.course-thumbnail-book {
    width: 100%;
    height: 200px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.382);
}

.course-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 8px;
    color: white;
}

/* Course info section */
.course-info {
    padding: 15px 0;
    text-align: center;
}

.course-info1 {
    padding: 8px 0px 0px 15px;
    text-align: left;
}

.course-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

.course-description {
    font-size: 14px;
    color: #dfdada;
    margin-bottom: 10px;
}

.course-level {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #3b82f6;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.course-price {
    font-size: 18px;
    font-weight: bold;
    color: #f56;
    margin-bottom: 10px;
}

.course-rating {
    font-size: 16px;
    color: #fcd34d;
}

.lang-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Full height */
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 12px;
    transition: 0.3s;
}

/* Hover effect */
.top-course-card:hover {
    background-color: #e7e3e3;
    color: rgb(0, 0, 0);
}

.top-course-card:hover .course-thumbnail img {
    border-bottom: 1px solid grey;
    transform: scale(1.05);
}

.top-course-card:hover .course-info {
    color: #121212;
}

.course-info2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.382);
}

.ins-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.clock-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
    color: #ef4444;
    margin-bottom: 1px;
}

.course-duration {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.modal-thumbnail {
    width: 40%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-price {
    font-weight: bold;
    font-size: 18px;
    color: #16a34a;
}

.add-to-cart-btn {
    margin-top: 20px;
    background-color: #3b82f6;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart-btn:hover {
    background-color: #2563eb;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ef4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

.arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s;
}


.arrow-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s;
}

.arrow-button:hover {
    background-color: #d0d0d0;
}

.arrow-button1:hover {
    background-color: #d0d0d0;
}

.chess{
    display: flex;
    width: 80px;
    opacity: 1 !important;
}

.instructor-card-inner{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor-card-inner1{
    width: 70%;
}

.instructor-card-image{
    width: 100%;
}

.instructor-name{
    padding: 25px 0 0 30px;
    font-size: 25px;
    font-weight: bold;
}

.role{
    padding: 5px 30px 0 30px;
    font-size: 14px;
    color: #afa403;
}

.instructor-desc{
    padding: 25px 30px 0 30px;
    font-size: 13px;
    text-align: justify;
    color: #646464;
}

.skills{
    padding: 25px 30px 0 30px;
    display: flex;
    gap: 10px;
}

.skill{
    width: auto;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #3b82f6;
    border-radius: 5px;
}

.sm{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #3b82f6;
}

.sm-icon{
    width: 20px;
}

.right-align{
    justify-content: right;
    padding: 5px 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


@keyframes slideLeftToRight {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@media (max-width: 426px) {
    .lang-card{
        width: 92%;
    }
}