* {
    /* border: 1px solid red; */
}

.profile-outer {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.profile-inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.promo-code-label{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace !important;
    background-color: rgba(250, 236, 114, 0.555);
    border-radius: 5px;
    border: 1px solid orange;
    color: orange;
    padding: 5px 10px;
    width: fit-content;
}

.promo{
    font-family: 'Courier New', Courier, monospace !important;
}

.profile-container {
    margin-top: 30px;
    padding: 15px 0;
    width: 80%;
    height: auto;
    background-color: rgb(254, 250, 250);
    border-radius: 10px;
    display: flex;
    align-items: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.p-inner {
    width: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-inner1 {
    width: 70%;
    margin-left: 5px;
}

.line{
    width: 1px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.37);
}

.pi1 {
    width: 95%;
    height: auto;
    text-align: center;
}

.userLogo {
    width: 40%;
    height: auto;
}

.username1 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px;
}

.i-outer {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.txt0 {
    width: 150px;
    padding: 0 5px 0 0;
    display: flex;
    justify-content: start;
}

.courses-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.course-item {
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: rgb(238, 239, 239);
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trophy-p{
    width: 20px;
}

@media (max-width: 769px){
    .profile-container{
        display: block;
    }

    .line{
        display: none;
    }

    .p-inner1{
        width: 100%;
    }
    .p-inner{
        width: 100%;
        padding: 25px 0;
    }
}