.q-outer{
    width: 100%;
    display: flex;
}

.quiz-summary-outer{
    position: absolute;
    background-color: white;
    width: 100%;
}

.q-inner{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 5px;
}

.reset-btn-outer{
    position: absolute;
    top: 10px;
    right: 10px;
}

.reset-btn{
    background-color: rgba(255, 213, 0, 0.903) !important;
}

.q-inner1{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 5px;
}

.q-content-highlight-outer{
    width: 95%;
    height: auto;
    border: 1px solid grey;
}

.q-content-outer{
    width: 95%;
    height: auto;
    border: 1px solid grey;
    padding: 10px 15px;
    position: relative;
}

@media (max-width: 426px) {
    .quiz-info-outer{
        display: block !important;
    }

    .q-info{
        width: 100% !important;
        text-align: center !important;
        margin: 5px 0 !important;
    }
}