.user-form-outer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.user-form-outer form {
    width: 100%;
}

.update-btn{
    background-color: gray !important;
    margin-right: 10px !important;
}
